{% extends "layout.html" %}
{% load static %}
{% block body %}
    {% if article %}
        {% if article.article_image %}
            <header class="masthead" style="background-image: url('{{article.article_image.url}}')">
        {% else %} 
            <header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
        {% endif %}
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto"> 
                        <div class="post-heading">
                            <h1>{{article.title}}</h1>
                            <span class="meta">Posted by <a href="#">{{ article.author }}</a> on {{ article.created_date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header> 
        <div style="text-align: justify;">{{ article.content|safe }} </div>
        <div class="card my-4">
            <h5 class="card-header">Yorum Ekle</h5>
            <div class="card-body">
                <form method="post" action="{% url 'article:comment' article.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="comment_author" class="form-control" placeholder="İsminiz" required>
                    </div>
                    <div class="form-group"> 
                        <textarea class="form-control" rows="3" style="resize:none;" name="comment_content" placeholder="Yorumunuz" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Ekle</button>
                </form>
            </div>
        </div>

        {% if comments %}
            {% for comment in comments %}
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="{% static 'img/user.png' %}" width="50px">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.comment_author }} / <small>{{ comment.comment_created_date }}</small></h5>
                        {{ comment.comment_content }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                İlk Yorum Yapan Siz olun
            </div>
        {% endif %}
    {% else %} 
        <header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto"> 
                        <div class="post-heading">
                            <div class="alert alert-danger">Yazı Bulunamadı</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}
{% endblock body %}