{% extends "layout.html" %}
{% load static %}
{% block body %}
  <header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Anasayfa</h1>
            <span class="subheading">Django / Python</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="col-lg-8 col-md-10 mx-auto">
    {% if articles %}
      {% for article in articles %} 
          <div class="post-preview">
            <a href="{% url 'article:detail' article.id %}">
              <h2 class="post-title">{{article.title}}</h2>
              <h3 class="post-subtitle">{{article.content|striptags|truncatewords:10}}</h3>
            </a>
            <p class="post-meta">Posted by <a href="#">{{article.author}}</a> on {{article.created_date}}</p> </div>
          <hr>
      {% endfor %}  
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts →</a>
        </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        Henüz Bir Makaleniz Bulunmuyor.
      </div>
    {% endif %} 
    </div>
{% endblock body %}