{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %} 
    <header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto"> 
                    <div class="post-heading">
                        <h1>Kayıt Ol</h1>
                    </div>
                </div>
            </div>
        </div>
    </header> 
    <style type="text/css">
        .signup-form {
            width: 500px;
            margin: 0 auto;
            padding: 30px 0;
        } 
    </style>
    <div class="signup-form">  
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form|crispy }} 
            <button type="submit" class="btn btn-primary btn-lg">Kayıt Ol</button>
        </form>
    </div>                             
{% endblock body %}